# Ignore Python cache files
__pycache__/
*.py[cod]
*.egg-info/

# Ignore virtual environments
venv/
env/

# Ignore environment variables file
.env

# Ignore vector database
vectordb/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS system files
.DS_Store
Thumbs.db
